#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.image-container img {
  width: 100%;
  flex-shrink: 0;
}
.thumbnails {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 2rem;
  margin-top: 1rem;
  max-height: 250vh;
  width: 75%;
  position: absolute;
  left: 10%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 0.5rem;
}
.thumbnails img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}
